* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 15px;
}

h1 {
  font-family: 'Jost', sans-serif;
  font-weight: 600;
  /* font-size: 5rem; */
}

h2, h3, h4 {
  font-family: 'Jost', sans-serif;
  font-weight: 500;
}

p {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5rem;
}

button:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #759677;
}

/* @keyframes click {
  20%{transform: translateY(1px);}
  40%{transform: translateY(2px);}
  60%{transform: translateY(4px);}
  80%{transform: translateY(1px);}
}

#searchbutton {
  animation-name: click;
  animation-duration: 0.5s;
  animation-timing-function: linear;
} */

.message {
  width: 30%;
  height: 10%;
  visibility: hidden;
  font-size: 3rem;
  transition: 1s 
}


/* Defining animation in CSS. You can copy any paste this!
What it says is: 
At 20% of our animation's progress, the element should move (translate) 3px along the Y-axis
At 40% of our animation's progress, the element should move (translate) 6px along the Y-axis
Etc etc */
@keyframes bouncyAnimation{  
  20%{transform:translateY(3px);}
  40%{transform:translateY(6px);}
  60% {transform: translateY(9px);}
  80% {transform: translateY(6px);}
}

/* This is how you use the animation, applying it to a css class or ID
You just use the 'animation-name' property, and you give it the name of the keyframes we definied above
Other properties here are self explanatory */
#caret {
    animation-name: bouncyAnimation;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.front-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
  /* background-color: #1874CD; */
}

.recipe-image {
  width: 100%;
  height:175px;
  border-radius: 1rem 1rem 0 0;
}

.recipe-title {
  padding-top: 1.2rem;
}

.ingredients-title {
  padding-top: .67rem;
}

.directions-title {
  padding-top: .67rem;
}

.recipe-text {
  padding-left: 2rem;
  padding-right: 2rem;
  /* line-height: 1.5rem; */
}

.ritems-container{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.recipe-card {
  height: 650px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  margin-top: 1.33rem;
  margin-bottom: 1.33rem;
  overflow: hidden;
}

button {
  font-size: 2rem;
  color: black;
  background-color: rgb(255, 255, 255, 0);
  padding: 1rem;
  text-align: center;
  width: 2rem;
  margin-left: .5rem;
}

/* Placeholder color code from w3schools:  https://www.w3schools.com/howto/howto_css_placeholder.asp*/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #475c4b;
  opacity: 0.8; /* Firefox */
  font-family: 'Jost', sans-serif;
  font-weight: 500;
  font-size: 4rem;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:  rgba(255, 255, 255, 0.8);
  font-family: 'Jost', sans-serif;
  font-weight: 500;
  font-size: 4rem;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(0, 255, 255, 0.8);
  font-family: 'Jost', sans-serif;
  font-weight: 500;
  font-size: 4rem;
}

/* Code below from: https://medium.com/hackernoon/removing-that-ugly-focus-ring-and-keeping-it-too-6c8727fefcd2 . This, along with the accompanying JS code will allow keyboard-only users to have the ring focus on for buttons. */

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

/* Desktop view */
@media only screen and (min-width: 1025px) {
  /* Front page */
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
  }

  .front-page-container {
    background-image: url(./images/recipe-bg.jpg);
    background-size: cover;
  }
  
  .fpitems-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    text-align: center;
  }

  .ritems{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 80vw; 
  }

  .recipe-card {
    width: 30%;
  }

  #searchbar {
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-size: 4rem;
    color: black;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 0.25rem solid black;
    width: 25rem;
    height: 6rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }


}
  /* Results Page */
  .results-page-container {
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    background-color: white;
  }

/* Tablet view */
@media only screen and (min-width: 561px) and (max-width: 1024px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
  }

  .fpitems-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-wrap: wrap;
    width: 70%;
  }

  .ritems{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 90vw; 
  }

  .recipe-card {
    width: 46%;
  }

  #searchbar {
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-size: 4rem;
    color: black;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 0.25rem solid black;
    width: 16rem;
    height: 4rem;
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    margin-right: 1.5rem;
  }


}

/* Mobile view */
@media only screen and (max-width: 560px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
  }
  
  .front-page-container {
    background-image: url(./images/recipe-bg.jpg);
    background-size: cover;
  }

  .fpitems-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    text-align: center;
  }

  .ritems{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 75vw; 
  }

  .recipe-card {
    width: 100%;
  }

  #searchbar {
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-size: 4rem;
    color: black;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 0.25rem solid black;
    width: 16rem;
    height: 4rem;
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    margin-right: 1.5rem;
  }

}